.row {
  position: relative;
  top: 100px
}

.square {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-bottom: 20px;
  z-index: 0;
}

.type1 {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.type2 {
  border-bottom: 1px solid;
}

.type3 {
  border-right: 1px solid;
}

.title {
  color: var(--secondary);
  text-align: center;
  padding-top: 50px;
  margin-bottom: -65px;
}

body {
  background-color: rgba(218, 216, 216, 0.74);
  height: 625px;
}

.bg-light {
  height: 625px;
}

.number {
  top: 80px;
  position: relative;
  left: 40px;
  font-size: x-small;
  color: red;
}

.player1 {
  color: var(--primary);
  font-size: 3.5rem;
}

.player2 {
  color: var(--secondary);
  font-size: 3.5rem;
}

.best-move {
  top: 150px
}

.player1-best-move {
  color: var(--primary);
  font-size: large;
}

.player2-best-move {
  color: var(--secondary);
  font-size: large;
}

.horizontal-line {
  width: 300px;
  border-bottom: 5px solid gray;
  position: absolute;
  z-index: 5;
}

.vertical-line0 {
  height: 300px;
  border-left: 5px solid gray;
  position: absolute;
  top: 227px;
  left: 42%;
  z-index: 5;
}

.vertical-line1 {
  height: 300px;
  border-left: 5px solid gray;
  position: absolute;
  top: 227px;
  left: 50%;
  z-index: 5;
}

.vertical-line2 {
  height: 300px;
  border-left: 5px solid gray;
  position: absolute;
  top: 227px;
  right: 42%;
  z-index: 5;
}

.oblique-line0 {
  height: 300px;
  border-left: 5px solid gray;
  position: absolute;
  transform: rotate(-45deg);
  top: 227px;
  left: 50%;
  z-index: 5;
}

.oblique-line1 {
  height: 300px;
  border-left: 5px solid gray;
  position: absolute;
  transform: rotate(45deg);
  top: 227px;
  left: 50%;
  z-index: 5;
}
